<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FB6CB8D49644505B28C5AC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AEE58D0BD8142C7AD2B17E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C5A8AF359AC48958D8DBED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82EB0BE7304D47F18DB6F180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88A0E52A16E44D0EA080658A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D63DDACDACF04BC6B97A2519</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1E796C5352F46A9A4CFF770</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6BDB1C77BBF44DABC0D6C33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
